.font-primary {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
/* shared styles */
.button {
  background-color: #30b868;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 12px 17px;
}
.button:hover {
  background-color: #279c56;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.btn-transparent {
  background-color: transparent;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 5px;
  color: #ffffff;
  padding: 12.5px 17px;
  margin-left: 10px;
}
.btn-transparent:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: #30b868;
  color: #30b868;
}
.text-green {
  color: #30b868;
  font-size: 60px;
}
/* ===========================================Header css===================================== */

/*------------------------------------- Navbar */
nav {
  width: 1660px;
  padding: 10px;
  /* background-color: aquamarine; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin-right: 25px;
}
nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}
/* ------------------------------------- Hero section*/
.hero-btn {
  background-color: #ffffff;
  padding: 10px;
  color: #30b868;
  border-radius: 20px;
  border: none;
  /* margin-bottom: 20px; */
}
.banner-container {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  max-width: 2042px;
  height: 500px;
  /* background-color: aqua; */
  background-size: cover;
  padding-left: 520px;
  padding-top: 100px;
}
.banner-content {
  justify-content: center;
  text-align: center;
  width: 770px;
  /* border: 2px solid red; */
}
.banner-header {
  font-size: 52px;
  /* border: 2px solid yellow; */
  font-weight: 700;
  line-height: 84px;
  color: #ffffff;
}
.banner-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 30px;
  text-align: center;
}
/* ===========================================Main section===================================== */
/* main */
main {
  margin: 0px 120px 120px;
  /* background-color: ; */
}
/* -------------------------------------------------Card container starts here */
.card-container {
  background-color: #f7f6f2;
}
.card-container-head {
  text-align: center;
}
.card-container-head h1 {
  padding-top: 100px;
  /* padding-bottom: 50px; */
  font-size: 50px;
  font-weight: 700;
  /* line-height: 58px; */
}
.card-container-head p {
  padding-top: 10px;
  padding-bottom: 50px;
  color: rgba(98, 115, 130, 1);
}
.flex-cards {
  display: flex;
  gap: 10px;
  justify-content: center;
  /* align-items: center; */
}
.card img {
  background: rgba(249, 85, 85, 1);
  border-radius: 50px;
  border: none;
  padding: 10px;
}
.card {
  text-align: center;
  /* border: 1px solid red; */
  padding: 83px 24px 21px;
  width: 322px;
  height: 140px;
  background-color: #ffffff;
  border-radius: 8px 8px 0px 0px;
}
.card-head {
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.card-text {
  font-size: 15px;
  color: rgba(98, 115, 130, 1);
  width: 300px;
}

/* -------------------------------------------------The solution section starts */

.solution-container {
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 60px; */
}
/* text-div */
.text-container {
  /* border: 1px solid blue; */
  text-align: left;
}
.text-container-para {
  color: #30b868;
  font-weight: 500;
  padding-bottom: 20px;
}

.text-container-heading {
  font-size: 48px;
  padding-bottom: 24px;
}

.container-text-box {
  color: rgba(98, 115, 130, 1);
  width: 500px;
  padding-bottom: 30px;
}
.checklist ul li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
}
.checklist ul li img {
  padding-top: 15px;
}

/* -------------------------------------------------Early access notice section starts here */
.early-access-section {
  background-color: #f7f6f2;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.early-access-section h1 {
  font-size: 40px;
  font-weight: 700;
}
.early-access-section-para {
  color: rgba(98, 115, 130, 1);
  /* font-size: small; */
  padding-top: 16px;
  padding-bottom: 16px;
}
/* =========================================== Footer ===================================== */
footer {
  background-color: #001931;
  height: fit-content;
  margin-bottom: 0px;
}
.footer-container {
  padding: 120px 120px 30px;
  display: flex;
  justify-content: space-between;
}
.social-links p {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 10px;
}
.social-links ul {
  display: flex;
  gap: 16px;
}
.social-links ul li {
  list-style-type: none;
  /* padding: 5px; */
}
.social-links ul li i {
  color: #ffffff;
}
.footer-end {
  padding: 120px 120px 30px;
}
.footer-end hr {
  width: 1600px;
  align-items: center;
  margin-bottom: 30px;
  opacity: 0.2;
}
.footer-end {
  color: #ffffff;
  text-align: center;
}
